/* You can customize theme styles here */
.rad-showcase .container p.lead {
    /*width: 90%;*/
    width: 100%;
}
/*.rad-showcase+section{margin-top:-125px}*/
.rad-showcase+section{margin-top:-20px}

    .about__profile-picture{
        margin-top:0;
        -webkit-box-flex:0;
        flex:0 0 100%;
        max-width:100%;
        width:100%;
        margin-left:0;
        margin-right:0}

    @media screen and (min-width:992px){
        .about__profile-picture{
            margin-top:0;
            -webkit-box-flex:0;
            flex:0 0 70%;
            max-width:70%;
            width:70%;
            margin-left:0;
            margin-right:0
        }
    }



    .col-md-66 {
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }

    @media screen and (min-width:992px){
        .col-md-66 {
        -webkit-box-flex: 0;
        flex: 0 0 30%;
        max-width: 30%;
        }
    }
    


/*--------------------------------------------------*/
.img-clip-left-backward {
    -webkit-clip-path: polygon(0 0,100% 0,100% 100%,0% 100%);
    clip-path: polygon(0 0,100% 0,100% 100%,0% 100%)
}
.img-clip-right-backward {
    -webkit-clip-path: polygon(0 0,100% 0,100% 100%,0% 100%);
    clip-path: polygon(0 0,100% 0,100% 100%,0% 100%)
}
.img-clip-left-forward {
    -webkit-clip-path: polygon(0 0,100% 0,100% 100%,0% 100%);
    clip-path: polygon(0 0,100% 0,100% 100%,0% 100%)
}
.img-clip-right-forward {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
}


.update {
	font-size: 16px;
    font-weight: 300;
    font-style: italic;
	line-height: 1.78;
	letter-spacing: -.2px;
	color: #274468;
}

.mt-md-0,
.my-md-0 {
    margin-top: 0!important
}

@media (min-width:768px) {
	.header .navbar-brand img {
		width: 200px;
		max-height: 100px
	}
}
.header .navbar-light .navbar-nav .nav-link {
    color: #274468;
}
html body {
	color: #274468;
}
p {
    color: #274468;
}

html body ::selection {
	background-color: #274468;
	color: #fff
}
/*
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
	text-align: justify;
}
*/
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	line-height: normal;
	color: #274468;
	margin-bottom: 8px
}

.display-1 {
	font-size: 36px;
	font-weight: 800;
	line-height: normal;
	color: #274468;
}
.lead {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.78;
    letter-spacing: -.2px;
    color: #274468;
    text-align: justify;
}

.header .navbar-brand img {
	width: 150px;
	max-height: 60px;
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: center center;
	object-position: center center
}
@media (min-width: 992px) {
    .rad-showcase .platform-links {
        margin-top: 0px;
        margin-right: -10px;
    }
}
.progress {
    display: -webkit-box;
    display: flex;
    height: 1.2rem;
    font-size: 1rem; 
    background-color: #ced2d8;
}

.progress-bar {
    display: -webkit-box;
    padding-left: 10px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    color: white;
    text-align: left;
    font-size: 1rem; 
    white-space: nowrap;
    background-color: #1d91f2;
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}
.alltopkwds{
    background-color: #274468;
}
.platforms {
    background-color: #008083;
}
.proglang {
    background-color: #1793ff;
}
.databases {
    background-color: #cb118c;
}
.webframeworks {
    background-color: #b22222;
}
.otherframeworks {
    background-color: #006502;
}
.tools {
    background-color: #30cb31;
}
.infosec {
    background-color: #010080;
}
.networking {
    background-color: #a52b2a;
}
.buzzwords {
    background-color: #f400ff;
}
.salary-range {

    font-size: 0.75rem; 
    margin-bottom: 0;
    font-style: italic;
}
.top-list {
    font-weight: bold;
    color: #274468;
    font-size: 18px;

}
/* for showcase page*/


.show-col-12, .show-col-sm-12, .show-col-md-8, .show-col-lg-7, .show-col-xl-6 {
    
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        -webkit-box-flex: 0;
		flex: 0 0 100%;
		max-width: 100%;
     
}

.rad-showcase__bg {
    position: relative;
    /*position: absolute;*/
    left: 0px;
    /*display:flex;*/
    display: block;
    
}



.rad-showcase__bg img {
    width: auto;
    height:auto;
    

}

.rad-showcase__bga {
    position: relative;
    /*position: absolute;*/
    left: 0px;
    /*display:flex;*/
    display: block;
    
}



.rad-showcase__bga img {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.rad-showcase .container {
    position: relative;
    
    z-index: 2;

    padding-top: 150px;
    
}

@media (max-width: 767px){
.rad-showcase .container {
    padding-top: 120px;
}
}
@media (min-width: 992px) {
.rad-showcase__bg img {
     width: auto; 
}
}

.rad-showcase {
    

    padding-top: 0px;
}


.header .navbar-toggler:not(.nav-link) {
 
    top: 22px;
 
}

/*Contact form placeholder and textarea text coloring code:*/

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #274468 !important;
    font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #274468 !important;
   font-style: italic;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #274468 !important;
   font-style: italic;
   opacity:  1;
}
::-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #274468 !important;
   font-style: italic;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #274468 !important;
   font-style: italic;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #274468 !important;
   font-style: italic;
}

textarea::-webkit-input-placeholder {
    color: #274468 !important;
    font-style: italic;
  }
  
  textarea::-moz-placeholder { /* Firefox 18- */
    color: #274468 !important; 
    font-style: italic;
  }
  
  textarea::-moz-placeholder {  /* Firefox 19+ */
    color: #274468 !important; 
    font-style: italic;
  }
  
  textarea::-ms-input-placeholder {
    color: #274468 !important;
    font-style: italic;
  }
  
  textarea::placeholder {
    color: #274468 !important; 
    font-style: italic;
  }
/*End of Contact form placeholder and textarea text coloring code:*/

.contact {
    padding: 10px;
    padding-top: 30px;
    display: inline-block;
}
.contact-form {
    width: 100%;
    display: inline-block;
}
.section--contact .container {
    text-align: right;
	background-color: #fff;
	box-shadow: 0 42px 34px -16px rgba(0, 0, 0, .3)
}

input[type=text], input[type=email], textarea {
    padding: 10px 0;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
    /*color: #274468;*/

    border-bottom: 1px solid #274468;
}
.send-button {
    text-align: left;
    padding-left: 15px;
    color: #274468;

}


.ptt-4 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.response-msg {
    height: 50px;
    width: auto;
}
.row-contacats {
    margin-left:0;
    margin-right:0;
    display: flex;
    display: -webkit-box;

}
.footer {
    background-color: white;
}
.section--contact {
    padding-bottom: 0;
    background-image: none;
    /*background-color: #c9cdd3;*/
    background-position: 0 100%;
}

.footer__copy a {
    color: #274468; 
    white-space: nowrap;
    font-size: 12px;
    font-weight: 300;
    text-decoration: none; 
}
.footer__copy {
    color: #274468;; 
    white-space: nowrap;
    font-size: 12px;
    font-weight: 300;
    border-bottom: none;
}

p a, span a {
    color: #000;
    font-weight: 600;
    text-decoration: none;
    border-bottom: none !important; 
    
}

.footer .navbar-nav .nav-item .nav-link {
    color: #274468;
}